<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js Loop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <h1>Todos</h1>
        <ul v-for="todo in todos">
            <li>{{todo}}</li>
        </ul>

        <h1>Todos1</h1>
        <ul v-for="todo in todos1">
            <li>{{todo.text}}----{{todo.title}}</li>
        </ul>
      </div>







      <script>
          var app = new Vue({
            el: '#app',
            data: {
            todos: ['Html','css','java'],
            todos1:[
                {text:'html',title:'It is a html language'},
                {text:'css',title:'It is a css'},
                {text:'js',title:'It is a Js'},
                {text:'java',title:'It is a js'}
            ]
            }
      })
      </script>
</body>
</html>